body{
    background-color: #B0D0D3;
    font-family: monaco,Consolas,Lucida Console,monospace;
    text-align: center;
    
}
.separado{
    width: 200px;
    height: auto;
    border: 4px outset snow;
    padding: 4px;
    margin: 8px;
    display: inline-block;
    border-radius: 15px;
    border-top-left-radius: 40px;
    border-end-end-radius: 40px;
    background-color: rgb(119, 0, 255);
    top: 40px;
    
}
.sub{
    width: 80px;
    height: 20px;
    border: 4px outset snow;
    padding: 4px;
    margin: 8px;
    border-radius: 15px;
    border-top-left-radius: 40px;
    border-end-end-radius: 40px;
    background-color: rgb(90, 0, 194);
    display: inline-block;
    text-align: center;
    font-size: medium;
}
#subtitulo{
    font-size: x-large;
    text-align: left;
}
#texto{
    font-size: x-small;
}
.cuadrado{
    background-color: aliceblue;
}
p{
    font-size: x-small;
    background-color:  rgb(76, 0, 255) ;
    font-size: x-small;
    text-align: start;
}
